body {
    margin: 0;
    font-family: sans-serif;
}

header {
    padding: 40px 0;
}

.name-header {
    text-align: center;
    padding-bottom: 40px;
}
nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 100px;
}

nav a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

h5 {
    padding-bottom: 30px;
}

.about-me li{
    padding-bottom: 30px;
}

.sqa-logo{
    padding:30px;
    padding-top:60px;
}

@media (max-width: 600px) {
    nav {
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }
}

.about-card {
    max-width: 850px;
    width: 95%;
    margin-bottom: 2rem;
}

.portfolio-card {
    max-width: 1000px;
    width: 95%;
    margin-bottom: 3rem;
    text-align: center;
}