body {
    margin: 0;
    font-family: sans-serif;
}

header {
    padding: 40px 0;
}

.name-header {
    text-align: center;
    padding-bottom: 40px;
}
nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 100px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}